.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1130px) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .row *:first-child {
    margin-bottom: 30px;
    width: 100%;
  }
}
